@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #ffffff;
  /*--main-color: #171717;*/
  --border-color: rgba(0,0,0,0.1);
  --text-color: #35495E;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
*{
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  scroll-behavior: smooth;
}
*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

*::-webkit-scrollbar{
  @apply w-[6px] bg-transparent
}
body.mobile *::-webkit-scrollbar{
  @apply w-[2px]
}
*::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(255,255,255,.2)}
*::-webkit-scrollbar-thumb:hover{background:rgba(255,255,255,.4)}

/* apply mozila specific style to scrollbar */
@-moz-document url-prefix() {
  body * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,.2) transparent;
  }
}

.lines { @apply border-[--border-color]}